:root {
    --main-font: "Roboto", sans-serif;

    /* для лого: */
    // --secondary-font: "Raleway", sans-serif;

    --accent-color: #124c5f;
    // --title-color: #212121;
    --main-text-color: #4e4c46;

    // --bgc-main: #2f303a;
    // --bgc-secondary: #f5f4fa;

    // --card-gap: 30px;
}
